body {
    /* background-color: blue; */
}

.menu {
    list-style-type: none;
    gap: 50px;
    display: flex;
    li { 
        a {
            text-decoration: none;
            color: #212121;
            font-weight: 500;
        }
        
    }
    .current_page_item a {
        color: #2196F3;
        font-weight: 500;
    }
}
.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        > div {
        display: flex;
        align-items: center;
        }
    }
    &__info {
        a {
            color: #757575;
            font-weight: 500;
        }
    }
}

.blog {
    .post {
        border: 1px solid #EEEEEE;
    }
}

.post-card {
    &-content {
        padding: 20px 24px;
    }
    &-title {
        font-size: 18px;
        font-weight: 700;
        a {
            color: #212121;
        }
    }
}

.gap-50 {
    column-gap: 50px;
}

.footer {
    background-color: #2F303A; 
    padding: 60px 0;
}
.white-color {
    color: #fff;
}

.sonic-silver-color {
    color: #757575;
}

.gray13-color {
    color: #212121;
}


.mb-9 {
    margin-bottom: 9px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px; 
}

.main-content {
    padding: 100px 0 95px;
}

.page  .site-main {
    padding: 50px 0;
}

.home .site-main {
    padding: 50px 0;
}

.single-post {
    &__image { 
        margin-bottom: 50px;
        img {
            width: -webkit-fill-available;
            max-height: 300px;
            object-fit: cover;
        }
    }

}

.lex-loader {
    display: block;
    position: relative;
    width: 100%;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: block;
        width: 30px;
        height: 30px;
        border: 0.2em solid blue;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: 1s loader linear infinite;
    }
}